<!DOCTYPE html>
<html>
<head>
  <title>Order Success - Simple E-Commerce</title>
  <link rel="stylesheet" href="/styles/main.css">
</head>
<body>
  <%- include('partials/header', { user }) %>
  <div class="order-success">
    <h1>Thank you for your order!</h1>
    <p>Your order has been placed successfully.</p>
    <a href="/">Continue Shopping</a>
  </div>
</body>
</html>
